<h1>Totally Awesome Cars</h1>
<form action="/cars" method="post">
  <label for="new-car">Please enter Make/Model of the car.</label>
  <input id="new-car" name="new-car" type="text">
  <br>
  <label for="new-car-price">Car Price</label>
  <input id="new-car-price" name="new-car-price" type="text">
  <br>
  <label for="new-mileage">Car Mileage</label>
  <input id="new-mileage" name="new-mileage" type="text">
  <button type="submit">Submit</button>
</form>
